.def {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 20%;

    top: var(--d2);

    box-sizing: border-box;

    position: sticky;
}