.wrap {
    display: flex;
    flex-direction: column;
    gap: 11px;

    width: -webkit-fill-available;
}

.search_info_wrap {
    width: calc(20% - 73px);
    position: absolute;
    margin-top: calc(40px + var(--d1));
    /* overflow: hidden; */
}

.wrap_f {
    display: flex;
    width: 100%;
    max-height: 300px;
    flex-direction: column;
    gap: var(--d2);
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}   

.wrap_f::-webkit-scrollbar {
    display: none;
}

/* .search_block {
    width: -webkit-fill-available;
} */


